body {

    background-color: peachpuff; 
    
    }
    
    p {
        
        padding: 30px;
        margin: 50px;
        color: crimson;
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
      }
    
      h1 {
    
    color: seagreen;
    font-size: 45px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    text-align: center;
    
      }
    
      a:hover {
        
        color: #fff; 
              
      }